{% extends "base.njk" %}
{% block main %}

		<style type="text/css">
			* {
				margin: 0;
				padding: 0;
			}

			body {
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			#main {
				position: absolute;
				top: 200px;
				left: 35%;
				cursor: pointer;
			}

			#main:hover {}
      .nav {
        display:none;
      }
		</style>

		<script type="text/javascript" src="lib/js/jquery.min.js"></script>
		<script type="text/javascript" src="lib/js/canvas_bg.js"></script>
    <style>
			span {
				background: linear-gradient(to right, #4cb4e7, #ffc09f, #ffee93, #e2dbbe);
				-webkit-background-clip: text;
				color: transparent;
				text-align: center;
				font-size: 70px;
			}
			.textstyle{
				text-align: center;
				padding-top: 300px;
			}
			.textstyle a{
				text-decoration: none;
			}
			.textstyle p {
				text-align: center;
			}
		</style>
	<audio autoplay="autoplay">
		<source src="/music/lulu1.mp3" type="audio/mpeg">
		Your browser does not support the audio tag.
	</audio>
    <canvas id="c" style="position: absolute;z-index: -1;text-align: center;"></canvas>
		<div class="textstyle">
			<a href="/main"><span><strong>雫るるのWeb</strong></span></a>
			<p>企划：雫るるの程序组</p>
			<p>主策划：岡坂かつじ</p>
			<p>程序协助：阿良々木暦</p>
		</div>

{% endblock %}

