<!DOCTYPE html>
{# <html lang="zh" class="no-js"> #}
<html lang="zh-CN">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/images/favicon.ico">
    <title>{{ ui.title }}</title>

	<link rel="stylesheet" type="text/css" href="lib/layui/css/layui.css">
	<link rel="stylesheet" type="text/css" href="lib/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="lib/css/animate.min.css">

	<link rel="stylesheet" type="text/css" href="lib/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="lib/css/danmu.css" />
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="lib/js/jquery.min.js"></script>
	<script type="text/javascript" src="lib/js/danmu.js"></script>


	{# <script src="barrager/js/jquery.min.js"></script>
	<script src="barrager/dist/jquery.barrager.js"></script> #}
</head>
	<style type="text/css">

		.nav{
			font-family: ;
			font-family: Calibri, 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
			height: 70px;
			width: 100%;
			float: right;
			line-height: 70px;
			z-index: 11;
			position: fixed;
			background-color: rgba(255,255,255,0.9);
			top: 0;
		}
		.nav li{
			float: left;
			margin-left: 40px;
		}
		.title img{
			position: absolute;
			left: 20px;
		}
	</style>
<body>
	<div id="container0">
		<div class="nav">
			<ul>
				<li><a href="/main">首页</a></li>
				<li><a href="/comments">留言</a></li>
				<li><a href="/sutanpu">表情包</a></li>
				<li><a href="/about">关于</a></li>
				<li><a href="/momo">桃树</a></li>
				<li><a href="/">封面</a></li>

			</ul>			
		</div>
	</div>

    {% block main %} {% endblock %}

</body>
</html>

