
{% extends "base.njk" %}
{% block main %}
<style>
  body {
    background-image: url(/images/lulu_window.webp);
  }
  .comments {
    padding-top: 70px;
  }
  .comments .item {
    vertical-align: middle;
    padding: 16px 8px;
    background-color: rgba(250,250,250,0.8);
  }

</style>
<div class="container">
<div class="layui-fluid">
  <div class="layui-row comments">

    {% for comment in ui.comments %}
        <div class="item layui-col-md8 layui-col-md-offset2">
            <h2>{{comment.name}}</h2>
            <p>{{comment.content}}</p>
        </div>
    {% endfor %}
	</div>
</div>
{% endblock %}
