{% extends "base.njk" %}
{% block main %}

<div id="wrapper">
	<div class="btn">
  <input type="text"  placeholder="输入你想说的话,不会被偷看哦">
  <button>发&nbsp;&nbsp;送</button>
  </div>
</div>
<script type="text/javascript" src="lib/js/danmu.js"></script>

{% endblock %}
