{% extends "base.njk" %}
{% block main %}
{# <style>
  body {
    background-image: url(/images/lulu_gachi.jpg);
    background-repeat: no-repeat; 
    background-attachment: fixed;
  }
</style> #}

<div class="momo" id="wrapper">
	<div class="btn">
  <input type="text"  placeholder="输入你想说的话,不会被偷看哦">
  <button>发&nbsp;&nbsp;送</button>
  </div>
</div>
<script type="text/javascript" src="lib/js/danmu.js"></script>

{% endblock %}
